<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulario Django</title>

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <form method="post">
        <br>

        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-success">Enviar</button> <br><br>

        {% if transacao %}
            <a href="{% url 'url_delete' transacao.id %}"><button type="button" class="btn btn-danger">Remover</button></a>
        {% endif %}
    </form>

</body>
</html>